.DS_Store
Thumbs.db
/dist
/tmp
/out-tsc
node_modules
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
dive.log
tools/db/backup/*
!tools/db/backup/README.md
migrations.json
*.pdf
*.xlsx
*.zip

